<footer>
    <div class="footer-container">
        <div class="footer-row1">
            <div class="footer-socialMedias">
                <h2>Redes sociales</h2>
                <ul class="center">
                    <li><a href=""><span class="icon-facebook"></span> Facebook</a></li>
                    <li><a href=""><span class="icon-twitter"></span> Twitter</a></li>
                    <li><a href=""><span class="icon-youtube"></span> Youtube</a></li>
                    <li><a href=""><span class="icon-instagram"></span> Intagram</a></li>
                </ul>
            </div>
            <div class="footer-contacts">
                <h2>Contacto</h2>
                <a><i class="footer-map-marker" aria-hidden="true"></i> Dirección: Calle Falsa 123, Buenos Aires, Argentina</a>
                <a><i class="footer-phone" aria-hidden="true"></i> Teléfono: +54 11 1234-5678</a>
                <a><i class="footer-envelope-o" aria-hidden="true"></i> Correo electrónico: info@ejemplo.com</a>
            </div>
        </div>
        <div class="footer-row2">
            <img src="../../../assets/logo-inet2.png" alt="Inet-Icono">
            <div class="row2-credits">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam totam magnam, quidem, eos illo assumenda dolorum nisi eaque nostrum sequi accusantium minima! Sequi iure doloribus rem et! Corporis, doloribus quo.</p>
            </div>
        </div>
    </div>
</footer>