<main>
    <div class="img"></div>
    <article>
        <header></header>
        <br>
        <section>
            <title>¿Que es inet?</title>
            <p>El Instituto Nacional de Educación Tecnológica (INET) es el organismo del Ministerio de Educación de la Nación que tiene a su cargo la coordinación de la aplicación de las políticas públicas relativas a la Educación Técnico Profesional (ETP) en los niveles Secundario Técnico, Superior Técnico y Formación Profesional. La ETP es una de las modalidades del sistema educativo argentino que abarca, articula e integra los diversos tipos de instituciones y programas de Educación por y para el trabajo.</p>
        </section>
        <section>
            <title>info</title>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam asperiores consequatur, fugit voluptatibus excepturi cupiditate temporibus delectus facilis aspernatur molestias minima voluptate voluptatem? Dolores eligendi illum quidem eum deserunt provident.</p>
        </section>  
        <footer></footer>
    </article>
    <div>
        <div>
            <img src="" alt="soy una imagen">
            <p></p>
        </div>
        <div>
            <img src="" alt="">
            <p></p>
        </div>
        <div>
            <img src="" alt="">
            <p></p>
        </div>
    </div>

    
</main>