<header>
    <nav>
        <ul>
            <li>
                <a class="">APPS <i class="fa fa-caret-down" style="color: #ffffff; font-size: 13px;"></i> </a>
                <ul class="aplicaciones">
                    <li><a>Aulas Talleres Móviles</a></li>
                    <li><a>infraestructura</a></li>
                    <li><a>Instituciones y oferta formativa</a></li>
                    <li><a>residencias estudiantiles</a></li>
                    <li><a>Vinculación laboral local para egresados</a></li>
                    <li><a>Centros de Estudiantes</a></li>
                </ul>
            </li>
            <li><a routerLink="inicio" routerLinkActive="active">INET</a></li>
            <li><a routerLink="escuelas">ESCUELAS</a></li>
            <li><a routerLink="titulos">TITULOS</a></li>
        </ul>
    </nav>
</header>