<div class="conteiner-detalle">
    <div class="title">
        <h3>Detalles</h3>
    </div>

    <div class="text">
        <p>id: {{escuela.id}}</p>
        <p>nombre: {{escuela.nombre}}</p>
        <p>cue: {{escuela.cue}}</p>
        <p>tipo oferta: {{escuela.tipoOferta}}</p>
        <p>especialidad: {{escuela.idEspecialidad}}</p>
        <p>matricula: {{escuela.matricula}}</p>
        <p>direccion: {{escuela.direccion}}</p>
        <p>cp: {{escuela.cp}}</p>
        <p>departamento: {{escuela.departamento}}</p>
        <p>jurrisdiccion: {{escuela.jurisdiccion}}</p>
        <p>localidad: {{escuela.localidad}}</p>
        <p>paraje: {{escuela.paraje}}</p>
        <p>aula taller: {{escuela.aulaTaller}}</p>
        <p>gestion: {{escuela.gestion}}</p>
        <p>dependencia: {{escuela.dependencia}}</p>
        <p>modalidad: {{escuela.modalidad}}</p>
        <p>clase: {{escuela.clase}}</p>
        <p>mailInstitucional: {{escuela.mailInstitucional}}</p>
        <p>webInstitucional: {{escuela.webInstitucional}}</p>
        <p>telefono: {{escuela.telefono}}</p>
        <p>centro estudiante: {{escuela.centroEstudiante}}</p>
        <p>anio act: {{escuela.aActualizacion}}</p>
    </div>
</div>